body{
    font-family: Arial, sans-serif;
    background-color: rgb(210, 153, 248);
    color: rgb(0, 0, 0);
    text-align: center;

}

#container{
    background-color: rgb(109, 31, 155);
}

#relogio{
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
}

